:root {
    --primary-background: hsl(210, 18%, 20%);
    --highlight-color: hsl(342, 65%, 55%);
    --record-background: hsl(210, 20%, 15%);
    --record-border: hsl(212, 20%, 40%);
    --win: hsl(155, 51%, 58%);
    --defeat: hsl(0, 100%, 73%);
    --light-text: hsl(0, 0%, 50%);
    --border-color: hsl(212, 20%, 30%);
    --text-color: hsl(0, 0%, 83%);
    --border-radius: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

body.light-mode {
    --primary-background: hsl(210, 35%, 93%);
    --highlight-color: hsl(0, 100%, 72%);
    --record-background: hsl(209, 40%, 85%);
    --record-border: hsl(212, 30%, 78%);
    --win: hsl(155, 61%, 47%);
    --defeat: hsl(0, 71%, 73%);
    --light-text: hsl(0, 0%, 50%);
    --border-color: hsl(210, 35%, 80%);
    --text-color: hsl(210, 35%, 18%);
}

body {
    min-height: 100vh;
    background-color: var(--primary-background);
    padding: 3rem;
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    transition: 0.3s;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

h1 {
    color: var(--highlight-color);
}

main {
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.game-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.main-stats {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.stats {
    display: flex;
    gap: 0.7rem;
}

.filter-container {
    display: flex;
    gap: 2rem;
}

label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 0.7rem;
}

label input[type="checkbox"] {
    display: none;
}

.checkmark {
    width: 30px;
    height: 30px;
    background-color: var(--record-background);
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
}

label input[type="checkbox"]:checked + .checkmark {
    background-color: var(--highlight-color);
}

label:hover .checkmark {
    background-color: var(--border-color);
}

a {
    text-align: center;
    color: var(--light-text);
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: var(--text-color);
}

#wins,
#defeats {
    padding: 1rem;
    border-radius: var(--border-radius);
    border: 1px solid;
}

#wins {
    border-color: var(--win);
    color: var(--win);
}

#defeats {
    border-color: var(--defeat);
    color: var(--defeat);
}

#records {
    width: 100%;
    display: grid;
    gap: 0.7rem;
}

#no-records {
    color: var(--light-text);
}

.record {
    background-color: var(--record-background);
    padding: 1rem;
    border-radius: var(--border-radius);
    border-left: 0.5rem solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    transition: 0.2s;
}

.record:hover {
    transform: translateX(0.3rem);
    border-color: var(--record-border);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.win {
    color: var(--win);
}

.defeat {
    color: var(--defeat);
}

.difficulty {
    color: var(--light-text);
}

.date {
    color: var(--light-text);
}

#theme-toggle {
    padding: 0.7rem;
    border-radius: 50%;
    cursor: pointer;
    background: var(--border-color);
    transition: 0.2s;
}

#theme-toggle:hover {
    background-color: var(--border-color);
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    body {
        font-size: 13px;
    }

    .checkmark {
        height: 18px;
        width: 18px;
    }
}

@media (max-width: 1080px) {
    body {
        font-size: 14px;
        gap: 2.5rem;
    }

    header {
        gap: 1rem;
    }

    main {
        width: 70vw;
    }

    .game-stats {
        flex-direction: column;
    }

    .main-stats {
        width: 100%;
        flex-direction: column;
    }

    .stats {
        width: 40%;
        flex-direction: column;
    }

    #defeats, #wins {
        padding: 0.5rem;    
        text-align: center;
    }

    .checkmark {
        height: 24px;
        width: 24px;
    }

    .record {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.7rem;
    }

    .time {
        margin-top: 2%;
    }

    #theme-toggle {
        padding: 0.5rem;
    }
}

@media (min-width: 1400px) {
    body {
        font-size: 17px;
    }
}
