:root {
    --primary-background: hsl(210, 18%, 20%);
    --bomb-cell-background: hsl(342, 65%, 55%);
    --win-cell-background: hsl(155, 51%, 58%);
    --cover-cell-background: hsl(210, 20%, 15%);
    --cover-cell-background-hover: hsl(210, 20%, 13%);
    --flag-cell-background: hsl(210, 20%, 23%);
    --border-color: hsl(210, 18%, 30%);
    --text-color: hsl(0, 0%, 83%);
    --border-radius: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

body.light-mode {
    --primary-background: hsl(210, 35%, 93%);
    --bomb-cell-background: hsl(0, 100%, 72%);
    --win-cell-background: rgb(68, 206, 125);
    --cover-cell-background: hsl(210, 25%, 70%);
    --cover-cell-background-hover: hsl(210, 25%, 60%);
    --flag-cell-background: hsl(212, 20%, 80%);
    --border-color: hsl(210, 35%, 80%);
    --text-color: hsl(210, 35%, 35%);
}

body {
    min-height: 100vh;
    background-color: var(--primary-background);
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    display: grid;
    place-content: center;
    gap: 1.5rem;
    transition: 0.3s;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

h1 {
    font-size: 1.7em;
    color: var(--bomb-cell-background);
}

main {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
}

#render-space {
    place-items: center;
    display: grid;
    gap: 0.3rem;
}

.cell {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--border-color);
    border-radius: var(--border-radius);
    font-size: 0.9em;
    transition: 0.2s;
}

.bomb {
    border-color: transparent;
    background-color: var(--bomb-cell-background);
}

.cover {
    border-color: transparent;
    background-color: var(--cover-cell-background);
}

.win {
    border-color: transparent;
    background-color: var(--win-cell-background);
}

.cover:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--cover-cell-background-hover);
}

.flag {
    background-color: var(--flag-cell-background);
}

hr {
    width: 75%;
    border: 0;
    height: 1px;
    background-color: var(--border-color);
}

#player-status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

#game-records {
    color: var(--bomb-cell-background);
    text-decoration: none;
    transition: 0.2s;
}

#game-records:hover {
    transform: translateY(-3px);
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.flags-on {
    background-color: var(--bomb-cell-background);
    transition: 0.2s;
}

button,
#restart {
    text-decoration: none;
    background-color: var(--border-color);
    cursor: pointer;
    padding: 0.7rem;
    outline: none;
    font-size: 1em;
    border: none;
    border-radius: var(--border-radius);
    transition: 0.2s;
}

button:hover,
#restart:hover {
    transform: translateY(-4px);
}

/* Extra Small Devices (até 576px de largura) */
@media (max-width: 576px) {
    body {
        font-size: 12px;
    }

    .cell {
        height: 16px;
        width: 16px;
    }

    #restart,
    #game-records,
    button {
        padding: 0.3rem;
    }

    #player-status {
        flex-direction: column;
        gap: 0.5rem;
    }
}

/* Small Devices (576px a 768px) */
@media (min-width: 576px) and (max-width: 768px) {
    body {
        font-size: 13px;
    }

    .cell {
        height: 22px;
        width: 22px;
    }

    #restart,
    #game-records,
    button {
        padding: 0.4rem;
    }

    #player-status {
        flex-direction: column;
        gap: 0.6rem;
    }
}

/* Medium Devices (768px a 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    body {
        font-size: 14px;
    }

    .cell {
        height: 22px;
        width: 22px;
    }

    #restart,
    #game-records,
    button {
        padding: 0.4rem;
    }

    #player-status {
        flex-direction: column;
        gap: 0.7rem;
    }
}

/* Large Devices (992px a 1200px) */
@media (min-width: 992px) and (max-width: 1200px) {
    body {
        font-size: 15px;
    }

    .cell {
        height: 24px;
        width: 24px;
    }
}

/* Extra Large Devices (1200px a 1400px) */
@media (min-width: 1200px) and (max-width: 1400px) {
    body {
        font-size: 16px;
    }

    .cell {
        height: 26px;
        width: 26px;
    }
}

/* Extra Extra Large Devices (1400px+) */
@media (min-width: 1400px) {
    body {
        font-size: 17px;
    }

    .cell {
        height: 28px;
        width: 28px;
    }
}
