:root {
  --primary-background: hsl(210, 18%, 20%);
  --highlight-color: hsl(342, 65%, 55%);
  --difficulty-background-hover: hsl(155, 51%, 58%);
  --difficulty-background: hsl(210, 20%, 15%);
  --border-color: hsl(212, 20%, 30%);
  --text-color: hsl(0, 0%, 83%);
  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body.light-mode {
  --primary-background: hsl(210, 35%, 93%);
  --highlight-color: hsl(0, 100%, 72%);
  --difficulty-background-hover: hsl(128, 47%, 55%);
  --difficulty-background: hsl(209, 40%, 85%);
  --border-color: hsl(210, 35%, 80%);
  --text-color: hsl(210, 35%, 18%);
}

body {
  height: 100vh;
  background-color: var(--primary-background);
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
  display: grid;
  place-content: center;
  gap: 3.5rem;
  transition: 0.3s;
}

h1 {
  text-align: center;
  color: var(--highlight-color);
}

main {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.3rem;
}

h2 {
  text-align: center;
}

form {
  width: 100%;
  display: grid;
  gap: 0.5rem;
}

label,
input,
button {
  width: 100%;
}

label {
  background-color: var(--difficulty-background);
  padding: 0.8rem;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.2s;
}

label:hover {
  transform: translateX(1%);
  background-color: var(--difficulty-background-hover);
  border-color: transparent;
  color: var(--primary-background);
  filter: drop-shadow(1px 1px 3px var(--primary-background));
  border-radius: var(--border-radius);
}

label:hover input[type="radio"]:checked {
  background-color: var(--primary-background);
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

input[type="radio"]:checked {
  background-color: var(--highlight-color);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin-top: 2%;
}

button {
  padding: 1rem;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  transition: 0.3s;
  background: transparent;
}

#submit-button {
  flex: 0.9;
  border: 3px solid var(--highlight-color);
  color: var(--highlight-color);
  border-radius: var(--border-radius);
}

#submit-button:hover {
  background-color: var(--highlight-color);
  color: var(--primary-background);
}

#theme-toggle {
  flex: 0.1;
  cursor: pointer;
  border: 3px solid var(--border-color);
  border-radius: var(--border-radius);
  background: transparent;
}

#theme-toggle:hover {
  background-color: var(--border-color);
}
