* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-weight: bold;
}

body {
  height: 100vh;
  background-color: rgb(163, 163, 163);
  font-size: 16px;
}

/* add light mode and dark mode */

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3%;
}

#render-space {
  width: fit-content;
  display: grid;
  gap: 0.3rem;
}

.cell {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(135, 135, 135);
  border-radius: 5px;
  font-size: 1em;
  color: white;
  transition: 0.2s;
}

.bomb {
  background-color: rgb(255, 86, 86);
}

.cover {
  background-color: rgb(68, 68, 68);
}

.cover:hover {
  cursor: pointer;
  border-radius: 10px;
}

.flag {
  background-color: rgb(102, 102, 102);
}