* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-weight: bold;
}

body {
  background-color: rgb(163, 163, 163);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
}

#render-space {
  width: fit-content;
  display: grid;
  gap: 0.3rem;
  margin-bottom: 10%;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(77, 77, 77);
  padding: 1.5rem;
  border-radius: 5px;
  font-size: 1em;
  color: white;
  transition: 0.2s;
}

.cell:hover {
  cursor: pointer;
  border-radius: 10px;
}

.bomb {
  background-color: rgb(255, 86, 86);
}

.cover {
  color: transparent;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  background-color: gray;
}

.reveal {
  background-color: rgb(96, 152, 255);
}