:root {
  --primary-background: hsl(0, 0%, 20%);
  --bomb-cell-background: hsl(0, 75%, 55%);
  --win-cell-background: rgb(54, 189, 72);
  --cover-cell-bakckground: hsl(0, 0%, 15%);
  --cover-cell-bakckground-hover: hsl(0, 0%, 13%);
  --flag-cell-background: hsl(0, 0%, 23%);
  --border-color: hsl(0, 0%, 27%);
  --text-color: hsl(0, 0%, 83%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body.light-mode {
  --primary-background: hsl(0, 0%, 93%);
  --bomb-cell-background: hsl(0, 100%, 72%);
  --win-cell-background: rgb(42, 170, 59);
  --cover-cell-bakckground: hsl(0, 0%, 70%);
  --cover-cell-bakckground-hover: hsl(0, 0%, 60%);
  --flag-cell-background: hsl(0, 0%, 80%);
  --border-color: hsl(0, 0%, 80%);
  --text-color: hsl(0, 0%, 35%);
}

body {
  height: 100vh;
  background-color: var(--primary-background);
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  transition: 0.3s;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.7em;
  color: var(--bomb-cell-background);
}

button {
  cursor: pointer;
  padding: 1rem;
  font-size: 1em;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  background: transparent;
  transition: 0.3s;
}

button:hover {
  border-color: var(--cover-cell-bakckground);
  border-radius: 15px;
}

#time {
  padding: 1rem;
  font-size: 1em;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  background: transparent;
}

main {
  width: max-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.1rem;
}

#render-space {
  place-items: center;
  width: 100%;
  display: grid;
  gap: 0.3rem;
}

.cell {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1em;
  transition: 0.2s;
}

.bomb {
  border: none;
  background-color: var(--bomb-cell-background);
}

.cover {
  border: none;
  background-color: var(--cover-cell-bakckground);
}

.win {
  border: none;
  background-color: var(--win-cell-background);
}

.cover:hover {
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--cover-cell-bakckground-hover);
}

.flag {
  background-color: var(--flag-cell-background);
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--border-color);
}

#player-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 0.9em;
}
